Backup/
bin/
obj/
shadowsocks-csharp/shadowsocks-csharp.csproj.user
TestResults
*.suo

/shadowsocks-csharp/Resources/Thumbs.db
/shadowsocks-csharp/Thumbs.db
/.vs/shadowsocks-csharp/v15/Browse.VC.opendb
*.db
*.opendb
*.tlog
*.tlog
*.log
*.filters
*.db-shm
*.ipch
*.db-wal
*.sqlite
*.json
*.idb
*.pdb
*.obj
